<template>
  <div class="container">
    <b-card-group v-if="lastStatus">
      <dashboard-value
        label="Running Tasks"
        :value="lastStatus.tasks.running"
      />
      <dashboard-value
        label="Waiting Tasks"
        :value="lastStatus.tasks.waiting"
      />
    </b-card-group>
    <full-update-status
      v-if="lastStatus"
      :full-update-status="lastStatus.fullUpdateStatus"
      @startButtonClicked="updateAllMetadata"
    />
  </div>
</template>

<script lang="ts">
import { Status } from "@/model/status";
import { defineComponent, ref } from "@vue/composition-api";
import { gachouOpenapiClient } from "@/api-client/openapi/gachou-openapi-client";
import { useInterval } from "@/compositions/useInterval";
import FormattedDate from "@/components/FormattedDate.vue";
import DashboardValue from "@/components/DashboardValue.vue";
import FullUpdateStatus from "@/components/status/FullUpdateStatus.vue";
import { updateAllMetadata } from "@/api-client/metadata";

function useStatusFromBackend() {
  const lastStatus = ref<Status | null>(null);
  const lastError = ref<Error | null>(null);

  useInterval(async () => {
    try {
      const response = await gachouOpenapiClient.GetStatus();
      lastError.value = null;
      lastStatus.value = response.data;
    } catch (error) {
      lastError.value = error;
    }
  }, 5000);

  return {
    lastStatus,
    lastError
  };
}

export default defineComponent({
  name: "StatusPage",
  components: { FullUpdateStatus, DashboardValue, FormattedDate },
  setup() {
    const { lastError, lastStatus } = useStatusFromBackend();

    return { lastStatus, lastError, updateAllMetadata };
  }
});
</script>
<style scoped lang="scss"></style>
