<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ label }}</h5>
      <p class="card-text large-font">{{ value }}</p>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    label: {
      typ: String,
      required: true
    },
    value: {
      type: Number,
      required: true
    }
  },
  name: "DashboardValue"
});
</script>
<style lang="scss" scoped>
.large-font {
  font-size: 3rem;
}
</style>
