<template>
  <span :title="formattedDate">{{ relativeTime }}</span>
</template>
<script lang="ts">
import { relativeTimeFromNow, formatDate } from "@/utils/formatDate";
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    isoDate: {
      type: String,
      required: true
    }
  },
  name: "FormattedDate",
  setup({ isoDate }) {
    const formattedDate = computed(() => formatDate(isoDate));
    const relativeTime = computed(() => relativeTimeFromNow(isoDate));

    return { formattedDate, relativeTime };
  }
});
</script>
