<template>
  <b-card>
    <b-card-title>Last full update</b-card-title>
    <b-card-text>
      <b-button
        variant="primary"
        @click="startButtonClicked"
        :disabled="fullUpdateRunning"
        ><b-icon-arrow-clockwise />Start full update</b-button
      >
    </b-card-text>
    <b-card-text v-if="fullUpdateStatus == null">
      No full update ran since last restart.
    </b-card-text>
    <b-card-text v-else>
      <p>
        <b-progress
          :animated="fullUpdateStatus.stoppedBecause == null"
          :striped="fullUpdateStatus.stoppedBecause == null"
          :variant="progressVariant"
          :max="fullUpdateStatus.totalFiles"
          :value="fullUpdateStatus.done / fullUpdateStatus.totalFiles"
        >
          <b-progress-bar :value="fullUpdateStatus.done">
            {{ fullUpdateStatus.done }} /
            {{ fullUpdateStatus.totalFiles }}
          </b-progress-bar>
        </b-progress>
      </p>
      <dl class="row">
        <dt class="col-sm-3">Started</dt>
        <dd class="col-sm-9">
          <formatted-date :iso-date="fullUpdateStatus.lastStarted" />
        </dd>
        <dt class="col-sm-3">Stopped</dt>
        <dd class="col-sm-9">
          <formatted-date :iso-date="fullUpdateStatus.lastFinished" />
        </dd>
        <dt class="col-sm-3">Stopped because</dt>
        <dd class="col-sm-9">
          <div>
            {{ fullUpdateStatus.stoppedBecause }}
          </div>
          <div>
            {{ fullUpdateStatus.fatalError }}
          </div>
        </dd>
      </dl>
      <h2>Messages</h2>
      <div v-if="fullUpdateStatus.messages">
        <ul class="list-unstyled">
          <li v-for="message in fullUpdateStatus.messages" :key="message">
            {{ message }}
          </li>
        </ul>
      </div>
    </b-card-text>
  </b-card>
</template>
<script lang="ts">
import { computed, defineComponent } from "@vue/composition-api";
import { Status, StoppedBecause } from "@/model/status";
import FormattedDate from "@/components/FormattedDate.vue";

export default defineComponent<{
  fullUpdateStatus: Status["fullUpdateStatus"];
}>({
  name: "FullUpdateStatus",
  components: { FormattedDate },
  props: {
    fullUpdateStatus: {
      type: Object,
      required: false
    }
  },
  events: ["startButtonClicked"],
  setup({ fullUpdateStatus }, { emit }) {
    const progressVariant = computed<string>(() => {
      const reason: StoppedBecause | undefined =
        fullUpdateStatus?.stoppedBecause;
      switch (reason) {
        case "aborted":
          return "secondary";
        case "done":
          return "success";
        case "error":
          return "danger";
        default:
          return "primary";
      }
    });

    const fullUpdateRunning = computed<boolean>(() => {
      return (
        fullUpdateStatus != null && fullUpdateStatus.stoppedBecause == null
      );
    });

    const startButtonClicked = () => emit("startButtonClicked");
    return { progressVariant, startButtonClicked, fullUpdateRunning };
  }
});
</script>
